@import 'variables';

.App-landing {
  background-image: url('../../assets/landing-background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: $primary-color;
  height: stretch;

  &__header {
    display: flex;
    font-size: 1em;
    justify-content: space-between;
    padding: 2em 1em;

    span.icon {
      padding: 0 1em;
      border: none;
      i {
        margin-right: 0.2em;
      }
    }

    .SocialMediaShareButton {
      display: inline;
      cursor: pointer;
    }
  }

  .language-selection {
    cursor: pointer;
    &.dropdown {
      position: relative;
      display: inline-block;

      .selected {
        padding: 0 0.2em;
      }
    }

    .dropdown-content {
      background-color: #0a3b7c; 
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      display: none;
      min-width: 50px;
      position: absolute;
      z-index: 1;
    }

    &.dropdown:hover .dropdown-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    button {
      background: transparent;
      border: none;
      color: $primary-color;
      cursor: pointer;
      display: block;
      font-size: 0.9em;
      padding: 0.2em;
      text-align: start;
      width: 100%;

      &:hover {
        background-color: lighten(#0a3b7c, 30%)
      }
    }
  }

  &__content {
    .project-name {
      font-size: 3em;
      margin-top: 2em;
      i.fas.fa-cloud {
        text-shadow: -6px 0px #b9c4c9;
        transform: rotateY(178deg);
      }
    }
    
    .main-text {
      margin-top: 3em;
    }
    
    .subscrite-label {
      margin-top: 3em;
    }
    
    .subscribe-section {
      display: flex;
      align-content: center;
      margin-top: 1em;
      justify-content: center;
      input {
        font-size: 1.5em;
      }
      
      button {
        font-size: 1.5em;
        color: $primary-color;
        background-color: $primary-background;

        &:disabled {
          background-color: lighten($primary-background, 50%);
          cursor: not-allowed;
        }
      }
    }
  }
}