$header-background: #fff;
$header-color: #39454a;
$footer-background: #39454a;
$footer-color: #cbcdd0;
$light-color: #f3f4f6;
$medium-color: #959db2;

$primary-background: #3f4cce;
$primary-color: #f3f4f6;

$shadow-color:  #222;