@import 'variables';
@import 'partials';

.summary-section {
  align-items: center;
  color: $light-color;
  display: flex;
  height: 410px;
  justify-content: center;
  padding: 0 7em;
  flex-direction: column;

  .main-text {
    font-size: 2em;
    font-weight: 600;
    line-height: 1.75em;
    text-align: center;
    text-transform: uppercase;
  }
}